.pw_download_overlay {
    box-sizing: border-box;
    color: #000;
}

.pw_download_overlay *,
.pw_download_overlay *::before,
.pw_download_overlay *::after {
    box-sizing: inherit;
}

.pw_download_overlay {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    z-index:99997;
    font-family:  -apple-system, BlinkMacSystemFont,
    "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
}

.pw_download_container {
    width: 100%;
    max-width: 450px;
    position: absolute;
    margin: auto;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    z-index:99998;
}

.pw_download_content {
    margin: 0;
    padding: 0;
    background: #fff;
    color: #000;
    font-size: 1rem;
}

.pw_download_content_inside{
    margin: 0 1rem !important;
    padding: 1rem 0;
}



.pw_download_content_inside .submit_container {
    margin: 1rem 0;
}
.pw_download_content_inside .pw_download_message .success {
    color: green;
}
.pw_download_content_inside .pw_download_message .error {
    color: red;
}

.pw_download_content_inside h3 {
    font-size: 1.25rem;
    font-weight: 300;
    margin:0;
    margin-bottom: 2rem;
    line-height: 2rem;
}

.pw_download_content_inside .input-code {
    margin: 0.5rem 0;
    font-size: 1.5rem;
    padding: 0.3rem;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 0;

}
.pw_download_content_inside .submit {
    margin:0;
    margin-top: 0.5rem;
    background-color: #1E90FF;
    border:0;
    color: #fff;
    font-size: 1rem;
    padding: 0.7rem 0.8rem;
    border-radius: 0;
}

.pw_download_content_inside .submit:hover {
    background-color: #0169CE;
}

.pw_download_overlay_close {
    position: absolute;
    top: -2.25rem;
    right: -12px;
    color: #ccc !important;
    font-size: 20px;
    padding: 0.5rem 0.75rem;
    border: 0;
    background: none;
    font-weight: 700;
    cursor: pointer;
    z-index:99999;
}

.pw_download_overlay_close:hover {
    color: #fff !important;
}
